@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: Azeret Mono;
}

header{
    width: 1440px;
    height: 756px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 155px;
}
nav h1{
    color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
}
nav a{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 17px 25px;

}

.banner{
    background-image: url('./assets/Hero-bg.png');
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
}

.banner h1{
color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
margin: 32px auto 24px auto;
text-align: center;
}

.banner p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
    padding: 0 210px;
}

.banner a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    text-decoration: none;
}


/*------Why Web Development--------*/

.web-dev-reason{
    width: 1140px;
    height: 1395px;
    margin: 74px auto 0 auto;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.top-web-dev-reason h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.top-web-dev-reason p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0 48px 0;
}

.block1, .block2{
    display: flex;
    /* align-items:; */
    justify-content: space-between;
    padding: 48px;
    gap: 120px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.block2{
    gap: 50px;
    background: linear-gradient( to right, rgba(255, 255, 255, 0),rgb(255, 255, 255));
}
.block-container{
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.block-container h1{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
padding: 10px 0 16px 0;
width: 85%;
}
.block-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 40px;
}
.block-container a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px;
    text-decoration: none;
}

.inspiration{
    width: 1140px;
    height: 777px;
    margin: 88px auto 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.inspiration-content{
    padding: 0 144px 48px 144px;
}
.inspiration-content h1{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
}

.inspiration-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px 144px;
    margin-top: 24px ;
}

.inspiration-video iframe{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

